<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nejslabší máte padáka</title>
</head>
<body>
<div id="app">
    {{ message }}
    <div id="SETUP">
        <div class="player-list">
            <button @click="addPlayer" v-if="players.length < maxPlayers">
                Přidat hráče
            </button>
            <div class="list-spacer"></div>

            <div v-for="(player, index) in players" class="player-row">
                <input class="player-input" type="text" v-model="player.name">
                <button class="player-input-remove" @click="removePlayer(index);" v-if="players.length > minPlayers">Odebrat hráče</button>
            </div>
        </div>
        <button @click="gameReady">Zahájit hru</button>
    </div>

    <hr><hr><hr>

    <div id="GAME">
        <div class="game-state">
            <div class="score-board">
                <div v-for="(score, index) in scoreTable" class="score-board-item" v-bind:class="{ active : currentLevel > index}">
                    {{score.value}}
                </div>
            </div>
            <hr>
            BANK: {{bank}}
        </div>
        <button @click="correctAnswer" :disabled="!inProgress">Správně</button>
        <button @click="wrongAnswer" :disabled="!inProgress">Špatně</button>
        <button @click="takeBank" :disabled="!inProgress">BANK</button>
        <button @click="restartRound" :disabled="inProgress">Reset kola</button>
        <button @click="backToSetup" :disabled="inProgress">Zpět k nastavení</button>
        <div>
            <div>
                Kolo: {{round}}
            </div>
            <div>
                Čas: <input type="text" v-model="roundTime" :disabled="inProgress">
            </div>
            <button @click="startRound" :disabled="inProgress">Start</button>
            <button @click="stopRound" :disabled="!inProgress">Stop</button>
        </div>

        <div class="game-players">
            <div class="game-players--active">
                <div v-for="(player, index) in players" class="game-player" v-bind:class="{ active : index === currentPlayer }" v-if="player.active">
                    <button @click="setFirstPlayer(index)" :disabled="index === currentPlayer" v-if="!inProgress">První hráč</button>
                    {{player.name}}
                    <button @click="disablePlayer(index)" :disabled="!player.active" v-if="!inProgress">Máš padáka!</button>
                </div>
            </div>
        </div>

    </div>
    <span style="margin-bottom: 50px"></span>
</div>

<footer>
    <script src="src/vue.js"></script>

    <style>
        /* SETUP */
        .player-list {
            display: flex;
            flex-direction: column;
            max-width: 400px;
        }

        .player-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 5px;
        }

        .player-input {
            width: 60%;
        }

        .player-input-remove {
        }

        .list-spacer {
            margin-top: 15px;
        }

        /* GAME */
        .game-state {
            display: block;
            text-align: center;
        }

        .score-board {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }

        .score-board-item {
            display: flex;
            border: 1px solid black;
            border-radius: 5px;
            width: 65px;
            margin: 2px auto;
        }

        .game-players--active {
            display: flex;
            flex-direction: row;
        }

        .game-player {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100px;
            height: 100px;
            border: 1px solid black;
            margin: 10px;
        }

        .active {
            background-color: greenyellow;
            color: black;
        }
    </style>

    <script>
		Vue.filter('two_digits', function (value) {
			if(value.toString().length <= 1)
			{
				return "0"+value.toString();
			}
			return value.toString();
		});

		new Vue({
			name: "Custom app",
			el:  "#app",
			data: {
				players: [
					{
						name: 'Hráč 1',
						active: true,
					},
					{
						name: 'Hráč 2',
						active: true,
					}
				],
				minPlayers: 2,
				maxPlayers: 8,
				message: "Máte panáka",
				scoreTable: [
					{value: 1000},
					{value: 5000},
					{value: 10000},
					{value: 20000},
					{value: 30000},
					{value: 45000},
					{value: 60000},
					{value: 80000},
					{value: 100000},
				],
				bank: 0,
				currentLevel: 0,
                currentPlayer: 0,
				roundTime: '3:00',
				round: 1,
				inProgress: false,
				setupComplete: false
			},
			methods: {
				addPlayer: function() {
					var elem = document.createElement('input');
					this.players.push({
						name: 'Hráč ' + (this.players.length + 1),
						active: true,
						first: false
					})
				},
				removePlayer: function(index) {
					this.players.splice(index, 1);
				},
				gameReady: function() {
					this.setupComplete = true;
				},
				backToSetup: function() {
					this.setupComplete = false;
				},

				correctAnswer: function() {
					if (this.currentLevel < this.scoreTable.length) {
						this.currentLevel++;
					}
					this.moveToNextPlayer();
				},
				wrongAnswer: function () {
					this.currentLevel = 0;
					this.moveToNextPlayer();
				},
				takeBank: function () {
					if (this.currentLevel !== 0) {
						this.bank += this.scoreTable[this.currentLevel - 1].value;
						this.currentLevel = 0;
					}
					this.moveToNextPlayer();
				},
				startRound: function () {
					this.inProgress = true;
					let timerSeconds = this.parseTimeStringToSeconds(this.roundTime);
					setTimeout(function () {this.timerTick(timerSeconds)}.bind(this), 1000);
				},
				stopRound: function () {
					this.inProgress = false;
				},
				parseTimeStringToSeconds: function (timeString) {
					let times = timeString.split(":");
					return (parseInt(times[0])*60 + parseInt(times[1]));
				},
				timerTick: function (seconds) {
					if (--seconds === 0 || !this.inProgress) {
						if (this.inProgress) {
							this.inProgress = false;
						} else {
							this.roundTime = parseInt(seconds/60) + ':' + (seconds%60);
						}
						this.roundEnd();
					} else {
						this.roundTime = parseInt(seconds/60) + ':' + (seconds%60);
						setTimeout(function () {this.timerTick(seconds)}.bind(this), 1000);
					}
				},
				//end round procedures
				roundEnd: function () {
					this.restartRound();
				},
				setFirstPlayer: function(index) {
					this.currentPlayer = index;
				},
				disablePlayer: function (index) {
					this.players[index].active = false;
				},
				moveToNextPlayer: function() {
					if (++this.currentPlayer === this.players.length) {
						this.currentPlayer = 0;
                    }
				},
				restartRound: function () {
					this.roundTime = '3:00';
					this.currentLevel = 0;
					this.bank = 0;
				}
			}
		});
    </script>
</footer>
</body>
</html>